PORT=5000
MONGODB_URI=mongodb+srv://usuario:senha@cluster.mongodb.net/portfolio
# Use senhas longas e únicas. Este arquivo é apenas um modelo e não deve conter seus dados reais.
ADMIN_PASSWORD=Adminmuni@123
JWT_SECRET=fb00dd676f1257bfeabc4766d581ce7bcc9257c69ff634eb583935fc4efb944dda6cfc23015004ebed73082f788d5623
